.anchor {
  display: block;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  font-weight: 500;

  @mixin hover {
    /* background-color: #8a91992e; */
    background-color: #69758c1f;
  }
}

.border-b {
  border-bottom: 0.5px solid #171b24;
}

.border-r {
  border-right: 0.5px solid #171b24;
}

.main {
  background-color: #242936;
}
