@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --yin: 0 0 12%;
    --yang: 0 0 93%;
    --flamingo: 0 59% 88%;
    --sapphire: 199 76% 69%;
    --base: 240deg 21% 15%;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scroller {
    height: 100dvh;
    padding-top: 10rem;
    padding-bottom: 10rem;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }

  .scroller-section {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    height: 100dvh;
  }
}
